html {
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.travolta {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/033037194a549b0bf83e2ac4ba90706a52a9132e/static/dist/web6/img/404/bg.gif') center center no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  font-size: 775%;
  padding-top: 25vh;
  margin-bottom: 1vh;
  z-index: 2;
}

p {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: white;
  z-index: 2;
}

a:hover {
  text-decoration: underline;
}

