{% if form.errors %}
    <p>Usuario ou senha incorretos. Tente novamente</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Você não tem permissão para acessar essa página</p>
    {% else %}
        <p>Por favor Conecte-se</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.username.label_tag }}
{{ form.username }}

{{ form.password.label_tag }}
{{ form.password }}
<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>