{% extends 'my_app/index.html' %}
{% load static %}

{% block logo %}

    <h2><b>Cria sua vaga</b></h2><br><br>

    <form method="POST">
        {% csrf_token %}
        <h5>Nome</h5>
        {{ form.name }}<br><br>

        <h5>Profissao</h5>
        {{ form.profession }}<br><br>

        <h5>Salario por hora</h5>
        {{ form.salary }}<br><br>

        <h5>Linguas</h5>
        {{ form.language_french }}Frances<br>
        {{ form.language_english }}Inglês<br>
        {{ form.language_dutch }}Neerlandes<br><br>

        <h5>Permissão para dirigir</h5>
        {{ form.drivers_license }}<br><br>

        <h5>Contato</h5>
        {{ form.contact }}<br><br>

        <h5>Informação adicional</h5>
        {{ form.description }}<br><br>

        <button type="submit" name="submit">Criar Vaga</button>
    </form>

{% endblock %}
