{% extends 'my_app/index.html' %}
{% load static %}

{% block logo %}
  <div class="row">
    <a href="{% url 'my_app:work-construction-page' %}"><div class="col-6 col-sm-3"><div class="work-table-row">Construção</div></div></a>
    <a href="{% url 'my_app:work-cleaning-page' %}"><div class="col-6 col-sm-3"><div class="work-table-row">Limpeza</div></div></a>
    <div class="col-6 col-sm-3"><div class="work-table-row">Comércio</div></div>
    <div class="col-6 col-sm-3"><div class="work-table-row">HoReCa</div></div>
    <div class="col-6 col-sm-3"><div class="work-table-row">Saúde/Beleza</div></div>
    <div class="col-6 col-sm-3"><div class="work-table-row">Outros</div></div>
  </div>
  <br><br>

{##}
{#  <h2><b>Destaques</b></h2>#}
{#  <br><br><br><br>#}
{##}

  <h2><b>Anuncios</b></h2>
  <br><br>


    {% for job in jobs %}
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="work-job">
                    <h4><b>{{ job.profession }}</b></h4>
                    Postado em {{ job.date }}
                    <div class="work-job-salary">€{{ job.salary }} a hora</div>
                    {{ job.name }} {{ job.contact }}
            </div></div>
        </div>
        <br><br>
    {% endfor %}

{% endblock %}
