{% extends 'my_app/index.html' %}
{% load static %}

{% block logo %}
<h2>
    <a href="{% url 'my_app:service-form-page' %}">
        <div class="top_btn">Crie uma publicação aqui </div>
    </a>
</h2>

<body>
    <h1>Serviços</h1>
    <hr>
    {# <table style="width: 100%">#}
        {# <tr>#}
            {# <th>Doméstico</th>#}
            {# <th>Saúde e Beleza</th>#}
            {# <th>Transporte</th>#}
            {# <th>Comida</th>#}
            {# <th>Aulas</th>#}
            {# <th>Viagens</th>#}
            {# <th>Técnico</th>#}
            {# <th>Outros</th>#}
            {# </tr>#}
        {# </table>#}

    <div class="row">
        <div class="col">
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-domestic-page' %}">
                    <div class="work-table-row">Doméstico</div>
                </a>
            </div>
            <br>
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-healthy-beauty-page' %}">
                    <div class="work-table-row">Saúde e Beleza</div>
                </a>
            </div>
            <br>
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-transport-page' %}">
                    <div class="work-table-row">Transporte</div>
                </a>
            </div>
            <br>
            <div class="menu_elmt">
                <th>
                    <a href="{% url 'my_app:service-food-page' %}">
                        <div class="work-table-row">Comida</div>
                    </a>
                </th>
            </div>
        </div>
        <div class="col">
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-class-page' %}">
                    <div class="work-table-row">Aula</div>
                </a>
            </div>
            <br>
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-travel-page' %}">
                    <div class="work-table-row">Viagem</div>
                </a>
            </div>
            <br>
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-technic-page' %}">
                    <div class="work-table-row">Técnico</div>
                </a>
            </div>
            <br>
            <div class="menu_elmt">
                <a href="{% url 'my_app:service-other-page' %}">
                    <div class="work-table-row">Outros</div>
                </a>
            </div>
        </div>
    </div>
    <br><br>

    <h2 class="work_h2"><b>Anuncios</b></h2>
    <br><br>


    {% for service in services %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="work-job">
                <h4>
                    <b>
                        <div>
                            {% if service.image %}
                            <img src="{{ service.image.url }}" width="250">
                            {% endif %}
                        </div>
                        <div>
                            {{ service.title }}
                        </div>
                    </b>
                </h4>
                Preço €{{ service.price|floatformat:2 }}
                <br>
                {{ service.contact }}
                <br>
                {{ service.description }}
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
{% endblock %}